.head-covid19-heading {
  font-family: Bree serif;
  color: #f8fafc;
  font-size: 30px;
  margin-left: 0px;
  margin-right: auto;
}
.head-india {
  color: #3b82f6;
}

.desktop-nav-items {
  background-color: #1e1e30;
  height: 12vh;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5vw;
}
.nav-button {
  border-width: 0px;
  background-color: transparent;
  color: #94a3b8;
  font-size: 19px;
  font-weight: 500;
}
.nav-home-button {
  position: absolute;
  left: 83%;
  top: 5%;
}
.nav-about-button {
  position: absolute;
  left: 90%;
  top: 5%;
}
.active-nav-button {
  color: #fff;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
  color: #94a3b8;
  margin-left: 0px;
}
.mobile-menu-container {
  display: none;
}

@media screen and (max-width: 575px) {
  .desktop-nav-items {
    display: none;
  }
  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    background-color: #1e1e30;
    font-family: 'Roboto';
    margin-bottom: 0px;
  }
  .head-covid19-heading {
    font-size: 26px;
  }
  .nav-button {
    font-size: 18px;
    font-family: Roboto;
    margin-left: 5px;
    margin-right: 5px;
  }
  .logo-and-menu-button {
    display: flex;
    justify-content: space-between;
    background-color: #1e1e30;
    align-items: center;
    width: 100%;
    height: 14vh;
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu-button {
    background-color: transparent;
    border-width: 0px;
    margin-top: 5px;
  }
  .mobile-nav-items {
    background-color: #161625;
    height: 6vh;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0px;
    padding-left: 15px;
    width: 100vw;
    margin-bottom: 10px;
  }
  .close-btn {
    border-width: 0px;
    background-color: transparent;
    margin-left: 150px;
  }
}
